.login {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 800px;
  }
  
  .title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .errorMessage {
    margin-top: 8px;
    color: red;
  }